{%- liquid
  assign section_st = section.settings
  assign section_width = section_st.section_width
  
  assign header_size = ''
  if section_st.header_size == 'small'
    assign header_size = 'h3'
  elsif section_st.header_size == 'large'
    assign header_size = 'h1-size'
  endif

  if section_st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
-%}


{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};--max-width: 50rem;
{%- endcapture -%}

{%- style -%}
  .faq-section-items.active .faq-section-title {
    color: var(--color-heading);
  }

  #FaqsPage-{{ section.id }} .icon_plus-animation {
    width: 40px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
  }

  #FaqsPage-{{ section.id }} .icon_plus-animation:before,
  #FaqsPage-{{ section.id }} .icon_plus-animation:after {
    content: '';
    width: 12px;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    transition: all 0.3s ease-out;
  }

  #FaqsPage-{{ section.id }} .icon_plus-animation:after {
    transform: rotate(90deg);
  }

  #FaqsPage-{{ section.id }} .faq-section-content {
    max-height: 0;
    opacity: 0;
    transition:
      max-height 0.3s ease,
      opacity 0.2s ease;
  }

  #FaqsPage-{{ section.id }} .faq-section-items.active .faq-section-content {
    max-height: var(--faq-content-height, 0px);
    opacity: 1;
  }

  #FaqsPage-{{ section.id }} .faq-section-items.active .open-children-toggle .icon_plus-animation:before,
  #FaqsPage-{{ section.id }} .faq-section-items.active .open-children-toggle .icon_plus-animation:after {
    transform: rotate(180deg);
  }
{%- endstyle -%}

<section
  id="FaqsPage-{{ section.id }}"
  class="section color-{{ section_st.color_scheme }}{% if section_st.padding_top < 30 %} pt-min{% endif %}{% if section_st.padding_bottom < 30 %} pb-min{% endif %} faqs-page {{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    {% if section.settings.heading != blank or section.settings.description != blank %}
      <div class="section__header mb-33 mb-sm-20 text-{{ section.settings.header_alignment }} {% if section.settings.section_width == 'full_width' %} px-20{% endif %}">
        {% if section.settings.heading != blank %}
          <h2 class="section__header-heading {{ header_size }} heading-letter-spacing mt-0 {% if section.settings.description != blank %}mb-10{% else %}mb-0{% endif %}">
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        {% if section.settings.description != blank %}
          <div class="section__header-description heading-letter-spacing block rich__text-m0">
            {{ section.settings.description }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="faqs-content flex-wrap flex gap" style="--col-gap: 50px">
      {% content_for 'blocks' %}
    </div>
  </div>
</section>

<script src="{{ 'custom-collapse.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.faqs-page.name",
  "disabled_on": {
    "groups": ["custom.overlay", "header", "footer"]
  },
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:sections.all.section_width.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.section_width.container.label"
        },
        {
          "value": "fluid_container",
          "label": "t:sections.all.section_width.fluid_container.label"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.section_width.stretch_width.label"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.section_width.full_width.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_header.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "FAQ",
      "label": "t:sections.all.section_header.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.section_header.description.label"
    },
    {
      "type": "select",
      "id": "header_size",
      "label": "t:sections.all.section_header.header_size.label",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.section_header.header_size.small.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.section_header.header_size.medium.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.section_header.header_size.large.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "t:sections.all.section_header.alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_settings.content_alignment.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_settings.content_alignment.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_settings.content_alignment.right.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_padding.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.section_padding.top.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.section_padding.bottom.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.section_padding.reset_spacing.label",
      "default": false
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "_c_message-page-faqs"
    },
    {
      "type": "_c_group-page-faq-content"
    }
  ],
  "presets": [
    {
      "name": "Custom FAQs Page"
    }
  ]
}
{% endschema %}
